:root {
  --color-text: #9597A5;
  --color-title: #2D314D;
  --color-text-white: #ffffff;
  --bgc-site: #F2F2F2;
  --liner-gradient: #33D35E, #2AB6D9;
  --font-stack: 'Public Sans', "Arial", sans-serif;
}


@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans-Regular.woff2') format('woff2'),
      url('../fonts/PublicSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans-Thin.woff2') format('woff2'),
      url('../fonts/PublicSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans-Medium.woff2') format('woff2'),
      url('../fonts/PublicSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Public Sans', "Arial", sans-serif;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  background-color: #FAFAFAFF;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* SITE HEADER  */

.site-header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: var(--color-text-white);
  padding-top: 18px;
  padding-bottom: 18px;
}

.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__logo {
  display: block;
}

.site-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav__item {
  margin-left: 30px;
  transition: box-shadow 0.3s ease;
}


.site-nav__item:nth-child(1) {
  margin: 0;
}

.site-nav__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: var(--color-text);
  transition: color 0.3s ease;
}

.site-nav__link:hover {
  border-bottom: 4px solid #2FC697FF;
  padding-bottom: 19px;
  color: var(--color-title);
}

.site-header__link {
  text-decoration: none;
  padding: 11px 28px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: var(--color-text-white);
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
  transition: opacity 0.3s ease;
}

.site-header__link:hover {
  opacity: 0.5;
}


/* HERO PAGE  */

.site-hero {
  position: relative;
  background-image: url("../img/hero-bg-desktop.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 582px) -190px;
  padding-top: 170px;
  padding-bottom: 170px;
}

.site-hero::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 728px;
  height: 899px;
  background-image: url("../img/hero-phones-desktop.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 112px) -30px;
  background-size: contain;
}

.site-hero__content {
  display: flex;
}

.site-hero__title {
  width: 394px;
  margin: 0;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: var(--color-title);
}

.info {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: var(--color-text);
}

.site-hero__text {
  width: 447px;
}


/* FEATURES SCTION PAGE  */

.features {
  padding-top: 95px;
  padding-bottom: 95px;
  background-color: #F4F5F7;
}

.features__title {
  margin: 0;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: var(--color-title);
  margin-bottom: 16px;
}

.features__text {
  width: 635px;
  margin: 0;
  font-family: var(--font-stack);
  margin-bottom: 72px;
}

.features__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__list__title {
  margin: 0;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.428571px;
  margin-top: 40px;
}

.features__item {
  max-width: 255px;
  margin-left: 30px;
}

.features__item:first-child {
  margin: 0;
}

.features__item::before {
  display: block;
  content: "";
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.features__ite__bg--first::before {
  background-image: url("../img/online-banking-bg.svg");
}

.features__ite__bg--second::before {
  background-image: url("../img/Simple-budgeting-bg.svg");
}

.features__ite__bg--thirt::before {
  background-image: url("../img/fast-onboarding-bg.svg");
}

.features__ite__bg--four::before {
  background-image: url("../img/open-api-bg.svg");
}

.features__list__info {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: var(--color-text);
  margin-top: 26px;
}

/* ATICLE PAGE  */

.articles {
  padding-top: 80px;
  padding-bottom: 80px;
}

.articles__title {
  margin: 0;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
}

.articles__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 40px;
}

.articles__item {
  width: 255px;
  margin-left: 30px;
  background-color: #fff;
  border-radius: 5px;
}

.articles__item:nth-child(1) {
  margin: 0;
}

.articles__list__image {
  display: block;
}

.articles__item__wrapper {
  padding: 24px;
}

.articles__link {
  text-decoration: none;
}

.articles__list__name {
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
  color: var(--color-text);
}

.articles__list__head {
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.285714px;
  color: var(--color-title);
  transition: color 0.3s ease;
}

.articles__list__head:hover {
  color: #30C88F;
}

.articles__list__info {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.203125px;
  color: var(--color-text);
}

/* FOOTER PAGE  */

.footer-site {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--color-title);
}

.footer-site__wrapper {
  display: flex;
  align-items: center;
}

.footer-site__left {
  margin-right: 131px;
}

.footer-site__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 56px;
}

.footer-site__item {
  margin-left: 13px;
}

.footer-site__item:nth-child(1) {
  margin: 0;
}

.footer-site__social {
  transition: fill 0.2s ease;
}

.footer-site__social:hover {
  fill: #30C88F;
}

.footer-site__center {
  display: flex;
}

.footer-site__center__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 100px;
}


.footer-site__center__link {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  color: var(--color-text-white);
  white-space: nowrap;
  margin-bottom: 15px;
  transition: color 0.3s ease;
}


.footer-site__center__link:hover {
  color: #30C88F;
}

.footer-site__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-site__right {
  padding-left: 235px;
}

.site-footer__rigth__text {
  margin: 0;
  font-size: 15px;
  line-height: 26px;
  text-align: right;
  letter-spacing: -0.234375px;
  color: var(--color-text-white);
  white-space: nowrap;
  margin-top: 24px;
  opacity: 0.5;
}

